[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
x509_extensions = v3_req
string_mask         = MASK:0x2002
utf8                = yes
prompt = no

[req_distinguished_name]
L = (Two-character country/region code, e.g: UK for United Kingdom or CA for Canada)
ST = (State Or Province Name)
C = (City)
emailAddress = (email)
CN = (Common name, Generally your name or something descriptive like "Card Auth")

[v3_req]
basicConstraints    = CA:false,pathlen:0
nsCertType          = objsign, objCA
nsComment           = "PIV SSH Authentication"
extendedKeyUsage    = critical,serverAuth, clientAuth, emailProtection, msSGC, nsSGC, msSmartcardLogin, secureShellClient, secureShellServer
keyUsage            = critical,digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign, cRLSign