oid_section         = yubikey_oids

[yubikey_oids]
.include = yubikey_oids.cnf

[ca]
default_ca = CA_default

[CA_default]
# Default hash for issued certificates
default_md        = sha256
# Directory where new certificates will be stored
dir               = .
# File containing the CA certificate
certificate       = $dir/certificates/CA.pem
# File containing the CA private key
private_key       = $dir/CA.key
# File containing the database of issued certificates
database          = $dir/index.txt
# File containing the serial number counter
serial            = $dir/serial
# Default expiration time for newly issued certificates
default_days      = 1825
# Default certificate policy
policy            = policy_anything
# File containing the certificate revocation list
crl               = $dir/CRL.pem
crl_extensions    = crl_ext
# Directory containing CRL distribution points
crl_dir           = $dir/crl
# Directory for new Certs
new_certs_dir     = $dir/certificates
# CRL expiry time
default_crl_days  = 60

[crl_ext]
authorityKeyIdentifier=keyid,issuer:alway

[policy_anything]
organizationName = optional
organizationalUnitName = optional
localityName = optional
stateOrProvinceName = optional
countryName = optional
emailAddress = optional
GN = optional
title = optional
commonName = supplied

[req]
default_bits = 4096
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
#L = (Two-character country/region code, e.g: UK for United Kingdom or CA for Canada) Optional, Uncomment to use
#ST = (State Or Province Name) Optional, Uncomment to use
#C = (City) Optional, Uncomment to use
#emailAddress = (email) Optional, Uncomment to use
#GN = (Given Name) Optional, Uncomment to use
#title = (Title) Optional, Uncomment to use
CN = (Common name, Generally your name or something descriptive like "Local CA") #Required

[v3_req]
basicConstraints = critical,CA:TRUE,pathlen:1
keyUsage = critical,cRLSign, digitalSignature, keyCertSign
authorityKeyIdentifier=keyid,issuer:always
# Uncomment and replace URI if you intend to publish your crl online
#crlDistributionPoints = URI:https://sophie.smeeton.xyz/CA/CRL.pem
