[req]
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req
string_mask        = MASK:0x2002
utf8               = yes
prompt             = no

[req_distinguished_name]
L = (Two-character country/region code, e.g: UK for United Kingdom or CA for Canada)
ST = (State Or Province Name)
C = (City)
emailAddress = (email)
CN = (Common name, Generally your name or something descriptive like "Digital Signature")

[v3_req]
basicConstraints    = CA:false,pathlen:0
nsCertType          = objsign, objCA
nsComment           = "PIV Signature 9C"
extendedKeyUsage    = critical, codeSigning, timeStamping, msCodeInd, msCodeCom, msCTLSign, OCSPSigning, adobeSigning, adobeDigitcert, msofficeSigning, msDocSigning, docuEncrypt, adobex509, msAuthenticode, msTimestamping, gpgUsageSign, gpgUsageEncr
keyUsage            = critical, digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign, cRLSign